fastapi
uvicorn
fastembed
numpy
openai
python-dotenv
python-multipart
sqlalchemy
passlib[bcrypt]
pyjwt
# pysqlite3-binary # (Commented out for macOS compatibility - not needed locally)
chromadb
pydantic[email]
pydantic-settings
groq
pymupdf
python-multipart
